html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #4493a5;
}

img {
    position: absolute;
    left: 30px;
    top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 80px;
}

.container {
    width: 60%;
    background-color: #fff;
    margin: 100px auto;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    padding: 90px 40px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text],
textarea {
    width: 50%;
    margin-bottom: 40px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    padding: 8px;
    font-size: 20px;
}

.submitBtn {
    display: block;
    font-size: 1rem;
    background: #4493a5;
    /* border: 1px solid #e76c67; */
    border: 1px solid #4493a5;
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
}

.submitBtn:hover {
    background-color: #1e525e;
    cursor: pointer;
}