html {
    background-color: #000;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: absolute;
    left: 30px;
    top: 20px;
}

.peanutsimg {
    height: 70vh;
}

.dan {
    height: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}