html {
    background-color: #000;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    cursor: url('./images/emotes/rsz_dansgame-png.png'), auto;
}

.logo {
    position: absolute;
    left: 30px;
    top: 20px;
}

.peanutsimg {
    height: 70vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}